<%# encoding: utf-8 %>

<h3><%= @to.full_name %>,</h3>

<p>
  Please find attached herewith, the barcode that you can use to lend books from our library.
</p>


<p>
  --------------------------------------------------------------------------------
  <br/>
  Please stick this barcode to your identity card , to avoid recreating the barcode.
</p>
