<%# encoding: utf-8 %>

<h3><%= @to.full_name %>,</h3>

<p>
You have taken the following book from library:
</p>

<p>
Name: <%= @book.title %> 
<br />
Author: <%= @book.author %>
<br />
ISBN: <%= @book.isbn %>
</p>

<p>
--------------------------------------------------------------------------------
<br />
Please place the book back in the shelf once you are done with reading it.
</p>
