<div class="book-info">
  <img src="<%= @book.photo_remote_url %>" />
  <h2>You are holding the following book:</h2>
  <h3 class="title"><%= @book.title %></h2>
  <h3 class="author"><%= @book.author %></h3>
</div>