<% content_for :javascript do %>
<% end %>

<% content_for :content do %>
  <div class="alert alert-error" style="display:none">
  </div>

  <div class="donate">

    <div class="hero-unit" data-section-name="book">
      <h1>Scan</h1>
      <p>
       Hold the book in such a way that the scanner is able to read the ISBN behind the book.
      </p>
      <div class="input">
        <input type="text" class="barcode" maxlength="13" data-input-type="isbn" />
      </div>
    </div>
  </div>

<% end %>