<% content_for :content do %>
<div class="hero-unit">
  <h1>Open Library</h1>
  <p>
	10 seconds to checkout a book. It's a lofty but achievable goal.
  </p>
</div>
<div class="row">
  <div class="span4">
    <h2>Pick</h2>
    <p>
     If you see anything that looks appealing, pick it up and read the back of the book. Skim over the back of the book or the inside flap, wherever the summary is. If that holds your attention, read the first page or so. If it still holds your attention, then it's probably a good book for you. The subject might be interesting to you, but the writing style can be key to enjoying it. If it looks interesting, proceed to scanning the book. 
    </p>
  </div>
   <div class="span4">
    <h2>Scan</h2>
    <p>
      The Open Library application is catalogued using the International Standard Book Number (ISBN) assigned to each edition and variation (except reprintings) of a book. Hold the book in such a way that the scanner is able to read the ISBN behind the book. The application can recognize the ISBN and present the details of the book. Similarly, hold your ID Card (with barcoded employee ID) to recognize you. 
    </p>
  </div>
   <div class="span4">
    <h2>Go</h2>
    <p>
      Thats it Folks! It is reserved. The application will remind you every 2 weeks via email to remind that you about this reservation.
    </p>
  </div>
</div>
<% end %>