<% content_for :content do %>
<div class="hero-unit">
  <h1>Open Library</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero massa. Etiam nisi ante, porta quis auctor semper, fringilla eu tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi enim augue, convallis at bibendum blandit, convallis eu ante. Suspendisse nec rhoncus nisi. Sed id nisl lorem. Suspendisse potenti. Nunc in massa magna, volutpat sodales nulla. In et purus eros. Ut rhoncus elementum aliquam. Duis ornare vestibulum libero vel gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ullamcorper, libero consequat lobortis consequat, ipsum velit facilisis risus, in varius erat est id odio. 
  </p>
</div>
<div class="row">
  <div class="span4">
    <h2>Pick</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero massa. Etiam nisi ante, porta quis auctor semper, fringilla eu tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi enim augue, convallis at bibendum blandit, convallis eu ante. Suspendisse nec rhoncus nisi. Sed id nisl lorem. Suspendisse potenti. Nunc in massa magna, volutpat sodales nulla. In et purus eros. Ut rhoncus elementum aliquam. Duis ornare vestibulum libero vel gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ullamcorper, libero consequat lobortis consequat, ipsum velit facilisis risus, in varius erat est id odio. 
    </p>
  </div>
   <div class="span4">
    <h2>Scan</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero massa. Etiam nisi ante, porta quis auctor semper, fringilla eu tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi enim augue, convallis at bibendum blandit, convallis eu ante. Suspendisse nec rhoncus nisi. Sed id nisl lorem. Suspendisse potenti. Nunc in massa magna, volutpat sodales nulla. In et purus eros. Ut rhoncus elementum aliquam. Duis ornare vestibulum libero vel gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ullamcorper, libero consequat lobortis consequat, ipsum velit facilisis risus, in varius erat est id odio. 
    </p>
  </div>
   <div class="span4">
    <h2>Go</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero massa. Etiam nisi ante, porta quis auctor semper, fringilla eu tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi enim augue, convallis at bibendum blandit, convallis eu ante. Suspendisse nec rhoncus nisi. Sed id nisl lorem. Suspendisse potenti. Nunc in massa magna, volutpat sodales nulla. In et purus eros. Ut rhoncus elementum aliquam. Duis ornare vestibulum libero vel gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ullamcorper, libero consequat lobortis consequat, ipsum velit facilisis risus, in varius erat est id odio. 
    </p>
  </div>
</div>
<% end %>