<% content_for :javascript do %>
  <script type="text/javascript" src="/js/prototype.js"></script>
  <script type="text/javascript" src="/js/effects.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/backbone-min.js"></script>
  <script type="text/javascript" src="/js/smoke.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1>Open Library</h1>
  </div>
	<div class="hero-unit" id="book">
    <h1>Scan</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit orci, tristique sit amet malesuada elementum, convallis in lorem. Phasellus sed erat lacus, a porttitor arcu. Proin ultricies erat vel nisi luctus placerat. Vivamus a erat tortor, at volutpat nisl. Phasellus vitae ante et dolor dignissim faucibus. Nunc vel pretium sem. Maecenas vel dolor sit amet sem pulvinar imperdiet sed in lectus. Nullam eleifend mollis viverra. Cras feugiat placerat porttitor. Fusce adipiscing aliquam sapien, in vestibulum mauris ultrices in. Cras blandit nisi vel sem adipiscing varius. Vivamus eu metus vel eros iaculis rhoncus. Integer eu lorem metus, eget sodales dui. 
    </p>
    <div class="input">
      <input type="text" class="barcode" maxlength="13" data-input-type="isbn" />
    </div>
	</div>
  <div class="hero-unit" id="user" style="display:none">
    <h1>Tell me who you are</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit orci, tristique sit amet malesuada elementum, convallis in lorem. Phasellus sed erat lacus, a porttitor arcu. Proin ultricies erat vel nisi luctus placerat. Vivamus a erat tortor, at volutpat nisl. Phasellus vitae ante et dolor dignissim faucibus. Nunc vel pretium sem. Maecenas vel dolor sit amet sem pulvinar imperdiet sed in lectus. Nullam eleifend mollis viverra. Cras feugiat placerat porttitor. Fusce adipiscing aliquam sapien, in vestibulum mauris ultrices in. Cras blandit nisi vel sem adipiscing varius. Vivamus eu metus vel eros iaculis rhoncus. Integer eu lorem metus, eget sodales dui. 
    </p>
    <div class="input">
      <input type="text" class="barcode" maxlength="5" data-input-type="user" />
    </div>
  </div>
  <div class="hero-unit" id="confirmation" style="display:none">
    <div class="wait">
      <h2 id="wait">10</h2>
    </div>
    <h1>Thank you!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit orci, tristique sit amet malesuada elementum, convallis in lorem. Phasellus sed erat lacus, a porttitor arcu. Proin ultricies erat vel nisi luctus placerat. Vivamus a erat tortor, at volutpat nisl. Phasellus vitae ante et dolor dignissim faucibus. Nunc vel pretium sem. Maecenas vel dolor sit amet sem pulvinar imperdiet sed in lectus. Nullam eleifend mollis viverra. Cras feugiat placerat porttitor. Fusce adipiscing aliquam sapien, in vestibulum mauris ultrices in. Cras blandit nisi vel sem adipiscing varius. Vivamus eu metus vel eros iaculis rhoncus. Integer eu lorem metus, eget sodales dui. 
    </p>
    <div class="input">
    </div>
  </div>
<% end %>