<!DOCTYPE html>
<html>
<head>
	<title>Open Library</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand">Open Library</a>
			</div>
		</div>
	</div>
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">Home</a>
			</li>
			<li><a href="#">...</a></li>
			<li><a href="#">...</a></li>
		</ul>
		<div class="hero-unit">
			<h1>Scan</h1>
		</div>
	</div>
</body>
</html>