.clear { clear: both; }

.page.container .hero-unit#book, .page.container .hero-unit#user, .page.container .hero-unit#confirmation { position: absolute; }

.page.container .input {
  opacity: 0;
  padding: 10px 0px;
  text-align: center;
}

.page.container .input .barcode {
  font-size: 40px;
  height: 40px;
  width: 290px;
}

.page.container .reservation { margin-top: 60px; position: relative; }