.page.container {
  margin-top: 40px;
  position: relative;
}

.page.container .hero-unit#book, .page.container .hero-unit#user, .page.container .hero-unit#confirmation {
  position: absolute;
  z-index: -1;
}

.page.container .input {
  padding: 10px 0px;
  text-align: center;
}

.page.container .input .barcode {
  font-size: 40px;
  height: 40px;
  width: 290px;
}

.page.container .hero-unit#confirmation .wait{
  float: right;
}

.hero-unit {
    background-color: #ffffff;
}

.workflow .step-text {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}

.workflow .step-no {
    font-size: 24px;
    position: relative;
    margin-top: 10px;
    float: left;
    top: 12px;
    left: 37px;
}

.hero-unit h1 {
    margin-bottom: 20px;
}

.hero-unit h1.current-step {
    color: #209e0c;
}

.placeholder {
    margin: 50px 0px;
}

.book-name {
    font-size: 25px;
    text-align: center;
    padding: 50px 10px;
}