<!DOCTYPE html>
<html>
<head>
  <title>Open Library</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/100s.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <% yield_content :javascript %>
</head>
<body class="open-library">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Open Library</a>
        <span class="tag-line">10 seconds to checkout a book. It's a lofty but achievable goal</a>
      </div>
    </div>
  </div>
  <div class="page container">
    <% yield_content :content %>
    <footer class="footer">
      <p>
      Open Library initiative by x,y and z. Some Rights Reserved
      </p>
    </footer>
   </div>
</body>
</html>